<h1><%=@current.name%></h1>

<%if @current.user_id == current_user.id || current_user.role == 'admin'%>
	<a href="/users/<%=current_user.id%>/listings/<%=@current.id%>/edit"><button>Edit This Listing</button></a>
	<%= button_to "Delete", listing_path(@current), method: :delete, data: {confirm: "Are you sure? This action is irreversible"} %>
<%end%>